$primary: darkred;
$navbar-light-color: black;
$navbar-light-active-color: $primary;

$font-family-sans-serif: "Montserrat", sans-serif;

//mixin

@mixin sizes($w) {
  width: $w;
  height: $w * 0.5625; //16:9
}


//extend

%negrita {
  font-weight: 500;
}

%sombrita {
  box-shadow: 0 0 1.5rem  rgba(0, 0, 0, 0.3);
}
