$primary: darkred;
$navbar-light-color: black;
$navbar-light-active-color: $primary;

$font-family-sans-serif: 'Montserrat', sans-serif;



@mixin sizes($w) {
    width: $w;
    height: $w*0.5625;
}



%negrita{
    font-weight: 500;
}